export(binaryMatrix)
export(binningCosts)
export(individualReferencePeaks)
export(isBinaryMatrix)
exportMethods(export)
exportMethods(exportCsv)
exportMethods(exportMsd)
exportMethods(write.csv)
exportMethods(write.table)
export(movingAverage)
export(mqReadMzAscii)
export(mqReadMzCsv)
export(mqReadMzR)
importFrom(utils,write.csv)
importFrom(utils,write.table)
import(MALDIquant)
